{% extends 'base.html' %}
<!--  -->
{% block content %}
<h3>Data Kategori Pelanggaran</h3>
<a href="javascript:add()" class="btn btn-sm btn-primary">Tambah Kategori</a>
<hr>
<input type="text" data-kt-filemanager-table-filter="search" class="form-control border ps-15" style="width: 250px;right: 0;position: absolute;margin-right: 20px;" placeholder="Search Data" />
<br><br>
<div class="table-responsive text-nowrap">
    <table class="table" id="tbl">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Pelanggaran</th>
                <th>Kategori Pelanggaran</th>
                <th>Point</th>
                <th>Aksi</th>
            </tr>
        </thead>
    </table>
</div>
<!--  -->
{% include "modal/mkategori.html" %}
<!--  -->
<script>
    $(function() {

        tbl = $('#tbl').DataTable({
            "ajax": {
                url: "vkategori",
                type: "post",
            },
            destroy: true,
            responsive: true,
            "aLengthMenu": [
                [10, 25, 50, 500, -1],
                [10, 25, 50, 500, "All"]
            ],
            "iDisplayLength": 10,
            "language": {
                search: "",
                searchPlaceholder: "Search Data"
            },
        });
        document.querySelector('[data-kt-filemanager-table-filter="search"]').addEventListener("keyup",
            (
                function(t) {
                    tbl.search(t.target.value).draw()
                }));
        $('#bsave').click(function(e) {
            e.preventDefault();
            var form = $('#form');
            if (form[0].checkValidity() === false) {
                form.addClass('was-validated');
            } else {
                form.removeClass('was-validated');
                data = form.serialize();
                console.log(data);
                Swal.fire({
                    title: 'Please Wait!',
                    icon: 'info',
                    text: 'Loading.........',
                    buttonsStyling: !1,
                    confirmButtonText: "Selesai",
                    customClass: {
                        confirmButton: "btn btn-info"
                    }
                });
                $.post('svkategori', data, function(res) {
                    Swal.close();
                    if (res.success == 1) {
                        pesan('success', res.message);
                        tbl.ajax.reload(null, false);
                        $('#modal').modal('hide');
                    } else {
                        pesan('error', res.message);
                    }
                }, 'json')
            }
        })
    });

    function add() {
        $('#modal').modal('show');
        $('#form')[0].reset();
    }

    function detail(id) {
        $('#id').val(id)
        $('#modal').modal('show');
        $.post('dkategori', {
            'id': id
        }, function(res) {
            $('#nama').val(res.data[0].nama);
            $('#kategori').val(res.data[0].kategori);
            $('#point').val(res.data[0].point);
        }, 'json');
    }

    function hapus(id) {
        Swal.fire({
            title: "konfimasi?",
            text: "Apakah mau menghapus data ini!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!"
        }).then(function(result) {
            if (result.value) {
                $.post('hkategori', {
                    'id': id
                }, function(res) {
                    if (res.success == 1) {
                        pesan('success', res.message);
                        tbl.ajax.reload(null, false);
                    } else {
                        pesan('error', res.message)
                    }
                }, 'json')
            }
        });
    }
</script>

{% endblock %}